<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.haoqi.imagepicker"
  version="1.0.0">

    <name>ImagePicker</name>

    <description>
        This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module src="www/imagepicker.js" name="ImagePicker">
        <clobbers target="plugins.imagePicker" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="SOSPicker"/>
            </feature>
        </config-file>
        
        <preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>$PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/SOSPicker.h" />
        <source-file src="src/ios/SOSPicker.m" />
        
        <header-file src="src/ios/ImagePicker/vendors/LFToGIF/LFToGIF.h" />
        <source-file src="src/ios/ImagePicker/vendors/LFToGIF/LFToGIF.m" />
        <header-file src="src/ios/ImagePicker/vendors/LFGifPlayer/LFWeakProxy.h" />
        <source-file src="src/ios/ImagePicker/vendors/LFGifPlayer/LFWeakProxy.m" />
        <header-file src="src/ios/ImagePicker/vendors/LFGifPlayer/LFGifPlayerManager.h" />
        <source-file src="src/ios/ImagePicker/vendors/LFGifPlayer/LFGifPlayerManager.m" />
        <header-file src="src/ios/ImagePicker/class/define/LFImagePickerHeader.h" />
        <source-file src="src/ios/ImagePicker/class/define/LFImagePickerHeader.m" />
        <header-file src="src/ios/ImagePicker/class/define/LFImagePickerPublicHeader.h" />
        <header-file src="src/ios/ImagePicker/class/define/LFResultObject_property.h" />
        <header-file src="src/ios/ImagePicker/class/define/LFImagePickerController+property.h" />
        <header-file src="src/ios/ImagePicker/class/LFImagePickerController.h" />
        <source-file src="src/ios/ImagePicker/class/LFImagePickerController.m" />
        <header-file src="src/ios/ImagePicker/class/LFLayoutPickerController.h" />
        <source-file src="src/ios/ImagePicker/class/LFLayoutPickerController.m" />
        <header-file src="src/ios/ImagePicker/class/utils/GIFUtils/LFGIFImageSerialization.h" />
        <source-file src="src/ios/ImagePicker/class/utils/GIFUtils/LFGIFImageSerialization.m" />
        <header-file src="src/ios/ImagePicker/class/utils/VideoUtils/LF_VideoUtils.h" />
        <source-file src="src/ios/ImagePicker/class/utils/VideoUtils/LF_VideoUtils.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/UIImage+LFCommon.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/UIImage+LFCommon.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/UIAlertView+LF_Block.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/UIAlertView+LF_Block.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/UIImage+LF_ImageCompress.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/UIImage+LF_ImageCompress.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/UIImage+LF_Format.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/UIImage+LF_Format.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/UIView+LFFrame.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/UIView+LFFrame.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/UIView+LFAnimate.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/UIView+LFAnimate.m" />
        <header-file src="src/ios/ImagePicker/class/utils/Category/NSBundle+LFImagePicker.h" />
        <source-file src="src/ios/ImagePicker/class/utils/Category/NSBundle+LFImagePicker.m" />
        <header-file src="src/ios/ImagePicker/class/utils/FileUtils/LF_FileUtility.h" />
        <source-file src="src/ios/ImagePicker/class/utils/FileUtils/LF_FileUtility.m" />
        <header-file src="src/ios/ImagePicker/class/utils/CancelBlock/LFCancelBlock.h" />
        <header-file src="src/ios/ImagePicker/class/controller/LFPhotoPickerController.h" />
        <source-file src="src/ios/ImagePicker/class/controller/LFPhotoPickerController.m" />
        <header-file src="src/ios/ImagePicker/class/controller/LFPhotoPreviewController.h" />
        <source-file src="src/ios/ImagePicker/class/controller/LFPhotoPreviewController.m" />
        <header-file src="src/ios/ImagePicker/class/controller/LFAlbumPickerController.h" />
        <source-file src="src/ios/ImagePicker/class/controller/LFAlbumPickerController.m" />
        <header-file src="src/ios/ImagePicker/class/controller/LFBaseViewController.h" />
        <source-file src="src/ios/ImagePicker/class/controller/LFBaseViewController.m" />
        <header-file src="src/ios/ImagePicker/class/controller/LFPhotoPickerController+preview.h" />
        <header-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewLivePhotoCell.h" />
        <source-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewLivePhotoCell.m" />
        <header-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewVideoCell.h" />
        <source-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewVideoCell.m" />
        <header-file src="src/ios/ImagePicker/class/cell/LFAssetCell.h" />
        <source-file src="src/ios/ImagePicker/class/cell/LFAssetCell.m" />
        <header-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewGifCell.h" />
        <source-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewGifCell.m" />
        <header-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewCell.h" />
        <source-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewCell.m" />
        <header-file src="src/ios/ImagePicker/class/cell/LFAlbumCell.h" />
        <source-file src="src/ios/ImagePicker/class/cell/LFAlbumCell.m" />
        <header-file src="src/ios/ImagePicker/class/cell/LFPhotoPreviewCell_property.h" />
        <header-file src="src/ios/ImagePicker/class/manager/LFAssetManager+SaveAlbum.h" />
        <source-file src="src/ios/ImagePicker/class/manager/LFAssetManager+SaveAlbum.m" />
        <header-file src="src/ios/ImagePicker/class/manager/LFAssetManager.h" />
        <source-file src="src/ios/ImagePicker/class/manager/LFAssetManager.m" />
        <header-file src="src/ios/ImagePicker/class/manager/LFPhotoEditManager.h" />
        <source-file src="src/ios/ImagePicker/class/manager/LFPhotoEditManager.m" />
        <header-file src="src/ios/ImagePicker/class/manager/LFAssetManager+CreateMedia.h" />
        <source-file src="src/ios/ImagePicker/class/manager/LFAssetManager+CreateMedia.m" />
        <header-file src="src/ios/ImagePicker/class/manager/LFVideoEditManager.h" />
        <source-file src="src/ios/ImagePicker/class/manager/LFVideoEditManager.m" />
        <header-file src="src/ios/ImagePicker/class/manager/LFAssetManager+Authorization.h" />
        <source-file src="src/ios/ImagePicker/class/manager/LFAssetManager+Authorization.m" />
        <resource-file src="src/ios/ImagePicker/class/LFImagePickerController.bundle" />
        <header-file src="src/ios/ImagePicker/class/model/result/LFResultVideo.h" />
        <source-file src="src/ios/ImagePicker/class/model/result/LFResultVideo.m" />
        <header-file src="src/ios/ImagePicker/class/model/result/LFResultInfo.h" />
        <source-file src="src/ios/ImagePicker/class/model/result/LFResultInfo.m" />
        <header-file src="src/ios/ImagePicker/class/model/result/LFResultObject.h" />
        <source-file src="src/ios/ImagePicker/class/model/result/LFResultObject.m" />
        <header-file src="src/ios/ImagePicker/class/model/result/LFResultImage.h" />
        <source-file src="src/ios/ImagePicker/class/model/result/LFResultImage.m" />
        <header-file src="src/ios/ImagePicker/class/model/LFAsset.h" />
        <source-file src="src/ios/ImagePicker/class/model/LFAsset.m" />
        <header-file src="src/ios/ImagePicker/class/model/LFAlbum.h" />
        <source-file src="src/ios/ImagePicker/class/model/LFAlbum.m" />
        <header-file src="src/ios/ImagePicker/class/model/LFAsset+property.h" />
        <header-file src="src/ios/ImagePicker/class/model/LFAssetImageProtocol.h" />
        <header-file src="src/ios/ImagePicker/class/model/LFAssetPhotoProtocol.h" />
        <header-file src="src/ios/ImagePicker/class/model/LFAssetVideoProtocol.h" />
        <header-file src="src/ios/ImagePicker/class/view/previewBar/LFPreviewBar.h" />
        <source-file src="src/ios/ImagePicker/class/view/previewBar/LFPreviewBar.m" />
        <header-file src="src/ios/ImagePicker/class/view/previewBar/subView/LFPreviewBarCell.h" />
        <source-file src="src/ios/ImagePicker/class/view/previewBar/subView/LFPreviewBarCell.m" />
        <header-file src="src/ios/ImagePicker/custom/CustomPhotoEditingController.h" />
        <source-file src="src/ios/ImagePicker/custom/CustomPhotoEditingController.m" />
        <header-file src="src/ios/ImagePicker/custom/CustomEditingView.h" />
        <source-file src="src/ios/ImagePicker/custom/CustomEditingView.m" />
        <header-file src="src/ios/ImagePicker/custom/CustomCancelBlock.h" />
        <header-file src="src/ios/ImagePicker/custom/CustomClipToolbar.h" />
        <source-file src="src/ios/ImagePicker/custom/CustomClipToolbar.m" />
        <header-file src="src/ios/ImagePicker/custom/CustomClippingView.h" />
        <source-file src="src/ios/ImagePicker/custom/CustomClippingView.m" />
        <header-file src="src/ios/ImagePicker/custom/CustomGridView.h" />
        <source-file src="src/ios/ImagePicker/custom/CustomGridView.m" />
        
        
        <header-file src="src/ios/LFMediaEditingController/class/vendors/JRPickColorView/JRPickColorView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/JRPickColorView/JRPickColorView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/ColorMatrix/LFColorMatrixType.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/ColorMatrix/LFColorMatrixType.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/ColorMatrix/LFImageUtil.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/ColorMatrix/LFImageUtil.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/ColorMatrix/LFColorMatrix.h" />
        
        <header-file src="src/ios/LFMediaEditingController/class/vendors/JRFilterBar/JRFilterBar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/JRFilterBar/JRFilterBar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/JRFilterBar/Cell/JRFilterBarCell.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/JRFilterBar/Cell/JRFilterBarCell.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/JRFilterBar/Model/JRFilterModel.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/JRFilterBar/Model/JRFilterModel.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/LFMEGifView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/LFMEGifView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/LFMEVideoView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/LFMEVideoView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/util/LFMEWeakSelectorTarget.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/util/LFMEWeakSelectorTarget.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/util/NSBundle+LFMediaDisplayView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/util/NSBundle+LFMediaDisplayView.m" />
        <resource-file src="src/ios/LFMediaEditingController/class/vendors/LFMediaDisplayView/resource/LFMediaDisplayView.bundle" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFExportSession/LFVideoExportSession.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFExportSession/LFVideoExportSession.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter+save.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter+save.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter+UIImage.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter+UIImage.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFMutableFilter.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFMutableFilter.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFMutableFilter+Initialize.h" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilter/LFFilter+Initialize.h" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterSuiteHeader.h" />
        
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFContextImageView+private.h" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFContext.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFContext.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFContextImageView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFContextImageView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFFilterGifView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFFilterGifView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFFilterImageView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFFilterImageView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFFilterVideoView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterDisplayers/LFFilterVideoView.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterUtils/LFLView/LFLView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterUtils/LFLView/LFLView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterUtils/LFSampleBufferHolder.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterUtils/LFSampleBufferHolder.m" />
        <header-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterUtils/LFWeakSelectorTarget.h" />
        <source-file src="src/ios/LFMediaEditingController/class/vendors/LFFilterSuite/LFFilterUtils/LFWeakSelectorTarget.m" />
        
        
        <header-file src="src/ios/LFMediaEditingController/class/common/define/LFPhotoEditDelegate.h" />
        <header-file src="src/ios/LFMediaEditingController/class/common/define/LFMediaEditingType.h" />
        <header-file src="src/ios/LFMediaEditingController/class/common/define/LFMediaEditingHeader.h" />
        <header-file src="src/ios/LFMediaEditingController/class/common/define/LFEditingProtocol.h" />
        
        <resource-file src="src/ios/LFMediaEditingController/class/common/LFMediaEditingController.bundle" />
        
        <header-file src="src/ios/LFMediaEditingController/class/common/category/UIView+LFMEFrame.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/UIView+LFMEFrame.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/category/UIImage+LFMECommon.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/UIImage+LFMECommon.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/category/NSString+LFMECoreText.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/NSString+LFMECoreText.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/category/UIDevice+LFMEOrientation.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/UIDevice+LFMEOrientation.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/category/UIView+LFMECommon.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/UIView+LFMECommon.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/category/NSBundle+LFMediaEditing.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/NSBundle+LFMediaEditing.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/category/AVAsset+LFMECommon.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/category/AVAsset+LFMECommon.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/common/view/LFScrollView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/view/LFScrollView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/utils/CancelBlock/LFMECancelBlock.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/utils/CancelBlock/LFMECancelBlock.m" />
        <header-file src="src/ios/LFMediaEditingController/class/common/utils/FilterSuiteUtils/FilterSuiteUtils.h" />
        <source-file src="src/ios/LFMediaEditingController/class/common/utils/FilterSuiteUtils/FilterSuiteUtils.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFBaseEditingController.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFBaseEditingController.m" />
        
        
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/utils/LFVideoPlayer.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/utils/LFVideoPlayer.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/controller/LFVideoEditingController.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/controller/LFVideoEditingController.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/model/LFVideoEdit.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/model/LFVideoEdit.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/LFVideoClippingView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/LFVideoClippingView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/LFVideoEditingView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/LFVideoEditingView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/LFVideoPlayerLayerView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/LFVideoPlayerLayerView.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/toolBar/LFAudioTrackBar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/toolBar/LFAudioTrackBar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/toolBar/LFVideoClipToolbar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/toolBar/LFVideoClipToolbar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFVideoTrimmerGridLayer.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFVideoTrimmerGridLayer.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFVideoTrimmerView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFVideoTrimmerView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFVideoTrimmerGridView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFVideoTrimmerGridView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFDataFilterVideoView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFVideoEditingController/view/subview/LFDataFilterVideoView.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/utils/GIFUtils/LFMEGIFImageSerialization.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/utils/GIFUtils/LFMEGIFImageSerialization.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/controller/LFPhotoEditingController.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/controller/LFPhotoEditingController.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/model/LFPhotoEdit.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/model/LFPhotoEdit.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/LFZoomingView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/LFZoomingView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/LFEditingView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/LFEditingView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/LFClippingView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/LFClippingView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/splash/LFSplashLayer.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/splash/LFSplashLayer.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/splash/LFMaskLayer.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/splash/LFMaskLayer.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFGridView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFGridView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFGridLayer.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFGridLayer.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFGridMaskLayer.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFGridMaskLayer.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFResizeControl.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/clipping/LFResizeControl.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/sticker/LFStickerLabel.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/sticker/LFStickerLabel.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/sticker/LFMovingView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/other/sticker/LFMovingView.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFEditToolbar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFEditToolbar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFEditCollectionView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFEditCollectionView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFTextBar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFTextBar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFStickerBar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFStickerBar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFClipToolbar.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFClipToolbar.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFColorSlider.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/toolBar/LFColorSlider.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/model/LFText.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/model/LFText.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/model/LFStickerItem.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/model/LFStickerItem.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/model/LFStickerItem+View.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/model/LFStickerItem+View.m" />
        
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFDrawView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFDrawView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFSplashView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFSplashView.m" />
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFStickerView.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFStickerView.m" />
<!--        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFFilterView.h" />-->
<!--        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFFilterView.m" />-->
        <header-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFSplashView_new.h" />
        <source-file src="src/ios/LFMediaEditingController/class/LFPhotoEditingController/view/subView/LFSplashView_new.m" />
        
        <header-file src="src/ios/MediaUpload/AudioRecord/AudioRecordVC.h" />
        <source-file src="src/ios/MediaUpload/AudioRecord/AudioRecordVC.m" />
        <header-file src="src/ios/MediaUpload/AudioRecord/fat-lame/include/lame/lame.h" />
        

        
        <header-file src="src/ios/MediaUpload/Upload/PublicParamsKey.h" />
        <header-file src="src/ios/MediaUpload/Upload/CustomUploadCell.h" />
        <source-file src="src/ios/MediaUpload/Upload/CustomUploadCell.m" />
        <header-file src="src/ios/MediaUpload/Upload/CustomUploadVC.h" />
        <source-file src="src/ios/MediaUpload/Upload/CustomUploadVC.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCClient.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCClient.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCClientInner.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCClientInner.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCCommon.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCCommon.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCHeader.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TXUGCPublish.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCHttpMessageURLProtocol.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCHttpMessageURLProtocol.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCReport.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCReport.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCUtils.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TVCUtils.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TXUGCPublishOptCenter.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TXUGCPublishOptCenter.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TXUGCPublishUtil.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/upload/TXUGCPublishUtil.m" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/include/TXUGCPublish.h" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/include/TXUGCPublishListener.h" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/upload/include/TXUGCPublishTypeDef.h" />
        <header-file src="src/ios/MediaUpload/Upload/TXCloud/utils/TCHttpUtil.h" />
        <source-file src="src/ios/MediaUpload/Upload/TXCloud/utils/TCHttpUtil.m" />
        
        <header-file src="src/ios/MediaUpload/VideoRecord/XFAVFoundation/XFCameraController.h" />
        <source-file src="src/ios/MediaUpload/VideoRecord/XFAVFoundation/XFCameraController.m" />
        <header-file src="src/ios/MediaUpload/VideoRecord/XFAVFoundation/XFCameraButton/XFCameraButton.h" />
        <source-file src="src/ios/MediaUpload/VideoRecord/XFAVFoundation/XFCameraButton/XFCameraButton.m" />
        <header-file src="src/ios/MediaUpload/VideoRecord/XFPhotoLibraryManager/XFPhotoLibraryManager.h" />
        <source-file src="src/ios/MediaUpload/VideoRecord/XFPhotoLibraryManager/XFPhotoLibraryManager.m" />
        <resource-file src="src/ios/MediaUpload/VideoRecord/XFAVFoundation/XFCameraController.xib" />
        <!--资源文件-->
        <resource-file src="src/ios/MediaUpload/AudioRecord/fat-lame/lib/libmp3lame.a" />
        <resource-file src="src/ios/MediaUpload/images/MediaPickerUpload.bundle" />
        <resource-file src="src/ios/MediaUpload/Upload/TXCloud/upload/COSSDK/libmtasdk.a" />
        <resource-file src="src/ios/MediaUpload/Upload/TXCloud/upload/COSSDK/QCloudCore.framework" />
        <resource-file src="src/ios/MediaUpload/Upload/TXCloud/upload/COSSDK/QCloudCOSXML.framework" />
        
        <framework src="Accelerate.framework" />
        <framework src="Security.framework" />
        <framework src="Photos.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AVFoundation.framework" />

    </platform>

    <!-- android -->
    <platform name="android">  
  
        <config-file target="res/xml/config.xml" parent="/*">  
            <feature name="ImagePicker">  
                <param name="android-package" value="com.rxxb.imagepicker.ImagePickerMain"/>  
            </feature>  
        </config-file> 
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
             <uses-permission android:name="android.permission.CAMERA"/>
             <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.rxxb.imagepicker.ui.ImageBaseActivity"/>
            <activity
                android:name="com.rxxb.imagepicker.ui.ImageGridActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/ImagePickerTheme"/>
            <activity
                android:name="com.rxxb.imagepicker.ui.CropActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/ImagePickerTheme"/>
            <activity
                android:name="com.rxxb.imagepicker.ui.ImagePreviewActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/ImagePickerThemeFullScreen"/>

            <activity
                android:name="com.rxxb.imagepicker.ui.ImagePreviewDelActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/ImagePickerThemeFullScreen"/>
            <provider
                android:name="com.rxxb.imagepicker.ImagePickerProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
            </provider>
        </config-file>
        <source-file src="src/android/ImagePickerMain.java" target-dir="src/com/rxxb/imagepicker" />
        <framework src="src/android/imagepicker.gradle" custom="true" type="gradleReference"/>
        <lib-file src="src/android/imagepicker.aar"/>
        <framework src="com.android.support:appcompat-v7:25.1.1" />
        <framework src="com.github.chrisbanes.photoview:library:1.2.4" />
        <framework src="com.android.support:recyclerview-v7:25.1.1" />
        <framework src="com.github.bumptech.glide:glide:3.7.0"/> 

    </platform>  
</plugin>
